*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	
	
}


.backgroundvideo1 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    overflow: hidden;
}

.backgroundvideo1 video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
    .backgroundvideo1 {
        width: 100%;
        height: 100%;
    }

    .backgroundvideo1 video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}





.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
        border-radius: 3%;
}


.wrap > h1{
	
	color: #ffffff;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 50px 0px;
	margin-top: 10%;
}
.wrap > h1:after{
	content: '';
	width: 80%;
	height: 1px;
	background: #C7C7C7;
	margin: 5px 0;
	align-self: center;
	}

	
.wrap > h3{
	color: #ffffff;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 10px 0px;
}
.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}
.button {
	font-weight: 800;
	display: flex;
	flex-direction: column;
	text-align: center;
	text-decoration-line: underline;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	
	}






.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
	margin-top: 5%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #11013f;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background: #2D3E50;
}

/* PRODUCTOS ============*/

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
	
}



.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}


.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #2D3E50;

	color: #fff;
	text-align: center;
	text-decoration: none;
}



/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 80%;
		font-size: xx-large;
		margin-bottom: 5%;
		align-self: center;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}








.nav {
	width: 100%;
	background-color: #6f9700;
	display: flex;
	align-items: center;
  }
  .nav > .nav-header {
	flex: 0.95;
	padding-left: 1rem;
  }
  .nav > .nav-header > .nav-title {
	font-size: 22px;
	color: #fff;
  }
  .nav > .nav-list {
	display: flex;
	gap: 2rem;
	font-size: large;
  }
  .nav > .nav-list > li {
	list-style-type: none;
	font-size: small;
  }
  .nav > .nav-list > li a {
	text-decoration: none;
	color: #efefef;
	cursor: pointer;
  }
  .nav > #nav-check {
	  display: none;
  }
  @media (max-width: 480px) {
	.nav {
	  padding: 0.5rem;
	}
	.nav > .nav-btn {
	  display: inline-block;
	  position: absolute;
	  right: 0;
	  top: 0;
	  padding-top: 0.2rem;
	}
	.nav > .nav-btn > label {
	  display: inline-block;
	  width: 50px;
	  height: 50px;
	  padding: 13px;
	}
	.nav > .nav-btn > label > span {
	  display: block;
	  width: 25px;
	  height: 10px;
	  border-top: 2px solid #eee;
	}
	.nav > .nav-list {
	  position: absolute;
	  display: flex;
	  flex-direction: column;
	  gap: 1rem;
	  width: 100%;
	   background-color: #010742b0;
	  height: 0;
	  transition: all 0.3s ease-in;
	  top: 40px;
	  left: 0;
	  overflow: hidden;
	}
	.nav > .nav-list > li {
	  width: 100%;
	  margin-top: 1.5rem;
	}
	.nav > #nav-check:checked ~ .nav-list {
	  height: calc(100vh - 50px);
	}
  }









  .centrado {

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #0000;
  }
  .hidden{
	overflow: hidden;
  }

  .lds-circle {
	display: inline-block;
	transform: translateZ(1px);
  }
  

/* Estilo para la categoría liveyoutube */
.liveyoutube {
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.liveyoutube img {
    width: 100%; /* Se asegura que la imagen ocupe el ancho disponible */
    height: auto; /* Mantiene la relación de aspecto */
}
.liveyoutube p {
	color: aliceblue;
	font-display: flex;
}
/* Estilos específicos para dispositivos móviles y tablets */
@media (max-width: 768px) {
    .liveyoutube img {
        width: 315px;  /* Ancho específico para móviles */
        height: 220px; /* Alto específico para móviles */
		margin-top: 0%;
    }
}
/* Estilos para pantallas más grandes (PC) */
@media (min-width: 769px) {
    .liveyoutube img {
        width: 600px;  /* Ancho específico para PC */
        height: 400px; /* Alto específico para PC */
    }
}









  

/* Estilo para el footer */
footer {
	background-color: rgba(27, 27, 27, 0.8); /* Gris claro con opacidad del 80% */
	color: #fff; /* Texto en color blanco */
	padding: 20px;
	 max-width: 100%;
	width: 100%;
  }
  
  .footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: x-large;
  }
  
  .footer-info {
	flex: 1;
  }
  
  .footer-info h3 {
	font-size: 24px;
  }
  
  .footer-contact, .footer-social {
	flex: 1;
  }
  
  .footer-contact h4, .footer-social h4 {
	font-size: 18px;
  }
  
  .footer-contact p, .footer-social p {
	font-size: 16px;
  }
  
  .footer-social ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
  }
  
  .footer-social li {
	margin-right: 10px;

  }
  
  .footer-copyright {
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	
  }



  .float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 5px 5x 5px #999;
  z-index:100;
}

.bannerstudex img{

	width: 60%;
	text-align: center;
	max-width: 1100px;
	width: 90%;
	margin: auto;
	}
	.imagenesdepiercingexplicacion img{
		width: 60%;
		max-width: fit-content;
		max-width: 1100px;
	width: 90%;
	margin: auto;
	}




.portadaprincipal img{

		margin-top: 5%;
		max-width: 100%;

	}
	@media screen and (max-width: 400px) {
		.portadaprincipal {
		  margin-top: 10%;
		  max-width: 100%;
		}
	  }


      


	
/*Efecto*/
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}

/*Formato de la ventana*/
.modalbox{
    width: 400px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
     
}

/*Movimientos*/
.movedown {
    margin: 0 auto;
}
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}
.resize {
    margin: 10% auto;
    width:0;
    height:0;
 
}
.modalmask:target .movedown{       
    margin:10% auto;
}
.modalmask:target .rotate{     
    transform: rotate(360deg) scale(1,1);
        -webkit-transform: rotate(360deg) scale(1,1);
}
 
.modalmask:target .resize{
    width:400px;
    height:200px;
}

/*Boton de cerrar*/
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #FAAC58;
    color:#222;
}



.queryvideoprincipal{
	display: flex;
	background-attachment: 7px;
	background-color: #00000060;
	margin-top: 3%;
	
}

@media only screen and (max-width: 768px) {
    .queryvideoprincipal {
        flex-direction: column;
        align-items: center;
    }
    h1, h2, p {
        margin-top: 2%;
    }
}









/* Estilos generales para el video */
.backgroundvideo video {
  width: 90%;
  height: 90%;
  object-fit: cover; /* Cambia a "contain" si prefieres que no se corte */
}

/* Estilos del modal */
.modalbox {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Para celulares (pantallas verticales) */
@media (max-width: 768px) {
  .modalbox {
    width: 100%;
    height: 100%;
  }

  .backgroundvideo video {
    width: 100%;
    height: auto;
    object-fit: contain; /* En móvil mejor ver todo el video */
  }
}

/* Para pantallas grandes (computador) */
@media (min-width: 769px) {
  .modalbox {
    width: 350px;
    height: 1280px;
	margin-top: 2%;
  }

  .backgroundvideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

